#banner{
    padding:15px 0px 30px 0px;
    background-color: #A5F3EB;
    display: flex;
    justify-content: center;
    align-items: center;
    .banner{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .image{
            width: 50%;
            img{  
                background-color: none;
                // width: 600px;
            }
        }
        .write{
            width: 36%;
            h1{
                font-size: 50px;
            }
            p{
                font-size: 20px;
            }
           
        }
    }
}

@media screen and (max-width:900px) {
    #banner{
        padding: 40px 0;
        .banner{
           flex-direction: column;
           .image{
            width: 100%;
           }
           .write{
            width: 100%;
           }
        }
    }
}

