#end{
    padding: 30px 0px;
    .end{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        opacity: .6;
       span{
        color: $color1;
       }

    }
}